<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:insert="blocks/header::header"></header>
<main>
    <div class="container" mar>
        <h1 style="text-decoration: underline"> Проект "БЛОГ"</h1>
        <p>Данный проект разработан при помощи технологии SPRING BOOT, SPRING MVC. Используется даза данных MYSQL c подключением через MAMP </p><br><br><br>

        <q style="font-style: italic">Надеемся на продолжительное сотрудничество</q><br><br>
    </div>

</main>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>